<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dbnormalizer</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/default.css') }}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/default.js') }}"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
<body>
<div>
    <div id="header">
        <!-- Single button -->
        <div id="logo">DBNormalizer 1.0</div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Insert Data <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#insertDBConnection" role="button" data-toggle="modal">New Database Connection</a></li>
                    <li><a href="#insertXml" role="button" data-toggle="modal">Import XML File</a></li>
                    <li><a href="#insertManually" role="button" data-toggle="modal">Insert Manually</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default">Normalizer</button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default">Download Normalisation</button>
            </div>

        </div>
    </div>

    <div id="content">
        <div class="col-md-4" id="leftContent">
            <h4>Tables</h4>
            <ul id="tables-list"></ul>
        </div>
        <div class="col-md-8 hidden" id="rightContent">
            <h4 class="table-actions-name" id="table-detail-name" data-id="tablename">Table Name</h4>
            <ul class="nav nav-pills" id="table-menu">
                <li class=""><a href="#" title="calculate the minimal cover of the table" id="minimalCover">Minimal cover</a></li>
                <li class=""><a href="#" title="Get the attribute closure for a given attribute" id="attributeClosure">Attribute closure</a></li>
                <li class=""><a href="#" title="Calculate all the candidate keys for a table" id="candidateKeys">Candidate keys</a></li>
                <li class=""><a href="#" title="Detect in which normal form is the table" id="normalForm">Detect Normal Form</a></li>
                <li class="disabled" id="checkfds_link"><a href="#" title="Check if the functional dependencies are satisfied on the table (Only available with database connection)" id="checkfds">Check FDs</a></li>
            </ul>
            <div id="action-content">

            </div>
        </div>
    </div>

</div>

<!-- INSERT DATABASE CONNECTION -->
<div class="modal fade" id="insertDBConnection" tabindex="-1" role="dialog" aria-labelledby="modalInsertDataSelect"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Database Connection</h4>
            </div>
            <div class="modal-body">
                <div class="error-message" id="db-connection-error"></div>
                <input type="text" class="form-control" id="insertdb-url" name="insertbd-url" placeholder="Database URL" aria-describedby="basic-addon1">
                <input type="text" class="form-control" id="insertdb-user" name="insertbd-user" placeholder="Username" aria-describedby="basic-addon1">
                <input type="password" class="form-control" id="insertdb-pwd" name="insertbd-pwd" placeholder="Password" aria-describedby="basic-addon1">
                <input type="text" class="form-control" id="insertdb-database" name="insertbd-database" placeholder="Database" aria-describedby="basic-addon1">
                <input type="text" class="form-control" id="insertdb-schema" name="insertbd-schema" placeholder="Schema" aria-describedby="basic-addon1">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="insertDBButton">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- INSERT XML CONNECTION -->
<div class="modal fade" id="insertXml" tabindex="-1" role="dialog" aria-labelledby="insertXml"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Import XML File</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-12">
                        <div class="input-group">
                            <form id="uploadXml">
                                <input id="xmlInput" name="xml" type="file" class="form-control">
                            </form>
                        </div>
                        <!-- /input-group -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="xmlButton">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- INSERT MANUALLY -->
<div class="modal fade" id="insertManually" tabindex="-1" role="dialog" aria-labelledby="insertManually"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Manually</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>


<!-- INSERT FD -->
<div class="modal fade" id="insertFD" tabindex="-1" role="dialog" aria-labelledby="insertFD"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New fd to table <span id="add-fd-table-name"></span></h4>
            </div>
            <div class="modal-body">
                <div class="elems-list">
                    <h6>Attributes list</h6>
                    <ul class="sortable-box" id="attr-box">
                    </ul>
                </div>
                <div class="elems-list half">
                    <h6>Left side</h6>
                    <ul class="sortable-box fd" id="attr-lhs"></ul>
                </div>
                <div class="elems-list half">
                    <h6>Right side</h6>
                    <ul class="sortable-box fd" id="attr-rhs"></ul>
                </div>


            </div>
            <div class="modal-footer clear">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="insertFDButton">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- EDIT FD -->
<div class="modal fade" id="editFD" tabindex="-1" role="dialog" aria-labelledby="insertFD"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit fd of table <span id="edit-fd-table-name"></span></h4>
            </div>
            <div class="modal-body">
                <div class="elems-list">
                    <h6>Attributes list</h6>
                    <ul class="sortable-box" id="attr-box-edit-fd">
                    </ul>
                </div>
                <div class="elems-list half">
                    <h6>Left side</h6>
                    <ul class="sortable-box fd" id="attr-lhs-edit-fd"></ul>
                </div>
                <div class="elems-list half">
                    <h6>Right Side</h6>
                    <ul class="sortable-box fd" id="attr-rhs-edit-fd"></ul>
                </div>


            </div>
            <div class="modal-footer clear">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="editFDButton">Confirm</button>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(function(){
        uploadTextfileButton("xmlButton", "xmlInput", function(result){});

        postButton("insertDBButton", ["insertdb-url","insertdb-user","insertdb-pwd", "insertdb-database", "insertdb-schema"], function(result){});

        insertFDButton("insertFDButton", ["add-fd-table-name", "attr-lhs", "attr-rhs"], function(result){});

        editFDButton("editFDButton", ["edit-fd-table-name", "attr-lhs-edit-fd", "attr-rhs-edit-fd"], function(result){});

        getMinimalCover("minimalCover", "table-detail-name", function(result){});

        getAttributeClosure("attributeClosure", "table-detail-name", function(result){});
    });




</script>
</html>