body {
    overflow: auto !important;
}

#content {
    width: 100%;
    height: 100%;
    position: absolute;
}

.error-message{
    color: red;
}

#dmkm-logo {
    position: absolute;
    left: 1px;
    height: 50px;
    top: 0;
    z-index: 2;
}

#header {
}

#logo {
    font-family: calibri;
    font-size: 38px;
    text-align: center;
}

#leftContent {
    padding-bottom: 20px;
    float: left;
    min-height: 100%;
    border-right: 1px solid #cccccc;
    padding-left: 0;
    padding-right: 0;
}
#leftContent h4 {
    padding-left: 15px;
    padding-right: 15px;
}

#rightContent {
    padding: 0;
    border-left: 1px solid #ccc;
    position: relative;
    left: -1px;

}

.fds.lhs {
    margin-right: 5px;
}

.fds.rhs {
    margin-left: 5px;
}
.table-elem {
    float: left;
    clear: both;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;

}
.table-elem:nth-child(odd) {
    background-color: #ddd;
}

.table-elem:nth-child(even) {
    background-color: #eee;
}

.table-content {
    display: none;
    float: left;
    padding-bottom: 20px;
    width: 100%;
}

.modal-body input {
    margin-top:10px;
}

#tables-list {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
}

.table-name {
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.attr-list {
    padding-left: 25px;
}

.fds-list {
    list-style: none;
    padding-left: 5px;
}
.fd-elem {
    float: left;
    clear: both;
    width: 100%;
    border-top: 1px solid #cccccc;
    padding: 5px 5px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.fd-elem:last-child {
    border-bottom: 1px solid #cccccc;
}

.fds.fds_lhs {
    float: left;
    width: 35%;
    padding-right: 5px;
}

.fds .fd {
    float: left;
    padding-right: 5px;
}
.fds .fd:after{
    content:',';
}

.fds .fd:last-child:after{
    content:'';
}

.fds.fds_rhs {
    float: right;
    width: 48%;
}

.glyphicon-arrow-right {
    text-align: center;
}

.table-name .glyphicon {
    float: right;
}
.fds-title {
    margin-bottom: 5px;
}
.fds-title h6 {
    float: left;
    margin-left: 5px;
}

.fds-title .glyphicon {
    float: right;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}
.fds-title .glyphicon:hover {
    color: #AAA;
}
.elems-list {
    float: left;
    width: 100%;
    display:block;
}
.elems-list.half{
    width: 49%;
}
.elems-list.half:last-child {
    float: right;
}
.elems-list h6{
    float: left;
}
.sortable-box {
    padding: 10px 5px;
    border: 1px solid #cccccc;
    list-style: none;
    float: left;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 90px;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.sortable-box li {
    cursor: pointer;
    color: #333333 !important;
    float: left;
    margin-right: 5px;
    display: block;
}
.sortable-box li:after {
    content: ",";
}
.sortable-box li:last-child:after {
    content: "";
}
.sortable-box.fd {
    margin-bottom: 16px;
    height: 100px;
}
.clear{
    clear: both;
}

.fds_edit_icon {
    float: right;
    cursor: pointer;
    padding: 5px 0;
    text-decoration: none;
    color: #333333;
}
.fds_edit_icon:hover {
    color: #AAAAAA;
    text-decoration: none;
}

.fds_remove_icon.glyphicon-remove {
    float: right;
    cursor: pointer;
    padding: 0 10px 5px 0;
    text-decoration: none;
    color: #333333;
    margin-top: 6px;
}
.fds_remove_icon.glyphicon-remove:hover {
    color: #AAAAAA;
    text-decoration: none;
}

.table-actions-name {
    border-bottom: 1px solid #cccccc;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0;
}

#action-content .fds-list {
    float: left;
}

#action-content .fds-list .fd-elem .fds.fds_lhs{
    padding-right: 10px;
    width: auto;
}

#action-content .fds-list .fd-elem .fds.fds_rhs{
    width: auto;
    padding-left: 10px;
}

#rightContent .nav {
    margin-bottom: 15px;
}

.nav>li>a.selected {
    text-decoration: none;
    background-color: #eee;
}

#attr-selector {
    float: right;
    width: auto;
}

#action-content {
    padding: 0 15px;
}

#action-content .elem-list {
    width: 49%;
    float: left;
}

#action-content .elem-list.last {
    float: right;
}

#attr-list-wrap {
    float: left;
    clear: both;
    margin-top: 15px;
}

#check-fd-list .fd-elem .fds, #check-fd-list .fd-elem .glyphicon {
    float: left;
}

.glyphicon-ok {
    color: #3c763d;
}


.glyphicon-remove {
    color: #a94442;
    padding-top: 2px;
}

#check-fd-list .not-satisfied {
    background-color: #f2dede;
    border-color: #ebccd1;
}

#check-fd-list .satisfied {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.nf {
    margin-bottom: 30px;
}

#delete-fd-confirm {
    float: left;
    margin-bottom: 20px;
}

#delete-fd-confirm .fds_lhs, #delete-fd-confirm .fds_rhs, #delete-fd-confirm .glyphicon-arrow-right{
    float: left;
    width: auto;
}

#delete-fd-confirm .fds_rhs {
    padding-left: 5px;
}


#normalization-content {
    padding: 0 15px 50px;
    float: left;
    width: 100%;
}

#normalization-tables .tables{
    list-style: none;
    padding-left: 0;
}

.normalized-table-ck-list {
    list-style: none;
    padding-left: 0;
}
.normalized-table-ck-list li:before {
    content:'-';
    padding-right: 10px;
}

.normalized-table-attributes {
    padding-left: 15px;
}

.normalized-table-fds {
    float: left;
}

.normalized-table-fds-list {
    list-style: none;
    padding-left: 0;
}

.normalized-table-fds-list .fds_lhs, .normalized-table-fds-list .fds_rhs, .normalized-table-fds-list .glyphicon-arrow-right {
    float: left;
    width: auto;
}

.normalized-table-fds-list .fds_rhs {
    padding-left: 10px;
}

.normalized-table-ck, .normalized-table-fk, .normalized-table-ck .key-elem {
    float: left;
    clear: both;
}
 .normalized-table-fk .fk-elem  {
     clear: both;
 }

 .normalized-table-fk .fk-elem.title {
     background-color: #eeeeee;
     font-weight: 500;
 }

.normalized-table {
    float: left;
    clear: both;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 10px 50px;
}

#getBCNF {
    float: right;
    margin-top: 20px;
    clear: both;
}


.fk-attr, .fk-rt, .fk-rattr {
    border-right: 1px solid #ccc;
    padding: 5px 10px;
}

.fk-rattr {
    border-right: none;
}

.fk-elem {
   border: 1px solid #cccccc;
}

.normalized-table-fk-list {
    float: left;
    list-style: none;
    padding-left: 0;
}

#insertManually .elems-list.right {
    float: right;

}



#insertManually .link{
    float: right;
    clear: both;
    padding: 15px 0;
}

#insertManually .add-fds-title, #insertManually #added-fds {
    float: left;
    clear: both;
}

#insertManually #added-fds {
    border: 1px solid #cccccc;
    padding: 10px;
    width: 100%;
}

#getSQL {
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}